<ng-container *ngFor="let idTravel of travels">
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ getLine(idTravel,1) }} {{ getLine(idTravel,2) }} {{ idTravel.Date | date }} <a class="price" id="APrice{{idTravel.Id}}"> {{getPrice(idTravel)}}</a> € </mat-panel-title>
        <mat-panel-description>
          Travel to your favorite destination
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>

      <div class="travelBox">
        <app-reservation-form
          [idTravel] = idTravel
          (fristClassEvent) = firstClassEvent($event,idTravel)
        >
        </app-reservation-form>
      </div>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</ng-container>
