.price{
    margin-left: 20px,;
}

mat-expansion-panel{
  align-items: center;
}

.travelBox {
  background-color: rgba(grey,0.1) !important;
  padding: 0.5rem 1.5rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}
