<form [formGroup]="travelForm" class="reservation-form" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Name</mat-label>
    <input type="text" formControlName="name" matInput placeholder="Ex. Dupont" >
  </mat-form-field>
  <div *ngIf="!isEscale">
    <div *ngIf="idTravel.Line[0].Plane.NbrPlaceFirstClassRemaining > 0">
      <mat-checkbox (change)="eventCheck($event,null)" [(ngModel)]="idTravel.Line[0].IsFirstClass"
        class="example-margin" formControlName="first_class">1 ère classe</mat-checkbox>
    </div>

    <div *ngIf="idTravel.Line[0].Plane.NbrPlaceFirstClassRemaining == 0">
      <a>Pas de 1 ère Class sur ce vol</a>
    </div>

  </div>
  <div *ngIf="isEscale">
    <div class="escaleLine" *ngFor="let line of idTravel.Line; let i = index">
      <span style="color: #3c0080; font-weight: bold; padding-right:10px">{{line.Departure}} - {{line.Arrived}}</span>
      <!--      <mat-checkbox (change)="eventCheck($event, i, line.Id)" class="example-margin" formControlName="first_class">1 ère classe</mat-checkbox>-->
      <div *ngIf="line.Plane.NbrPlaceFirstClassRemaining > 0">
        <mat-checkbox id="Line{{line.Id}}" [(ngModel)]="line.IsFirstClass" (change)="eventCheck($event, i, line.Id)"
          class="example-margin" formControlName="first_class">1 ère classe</mat-checkbox>
      </div>

      <div *ngIf="line.Plane.NbrPlaceFirstClassRemaining == 0">
        <a>Pas de 1 ère Class sur ce vol</a>
      </div>
    </div>
  </div>
  <button mat-button color="primary"  type="submit" [disabled]="!travelForm.valid" class="button">Réserver</button>
</form>
