<form [formGroup]="travelForm" class="reservation-form" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Name</mat-label>
    <input type="text" formControlName="name" matInput placeholder="Ex. Dupont" >
  </mat-form-field>
  <div *ngIf="!isEscale">
    <mat-checkbox (change)="eventCheck($event,null)" class="example-margin" formControlName="first_class">1 ère classe</mat-checkbox>
  </div>
  <div *ngIf="isEscale">
    <p style="display: flex">
      <span class="material-icons" style="margin-right: 5px">
          flight_land
      </span>
        Escale
    </p>
    <div class="escale" *ngFor="let line of idTravel.Line; let i = index">
      {{line.Departure}} - {{line.Arrived}}
      <mat-checkbox id="Line{{line.Id}}" (change)="eventCheck($event, i, line.id)" class="example-margin" formControlName="first_class">1 ère classe</mat-checkbox>
    </div>
  </div>
  <button mat-button color="primary"  type="submit" [disabled]="!travelForm.valid" class="button">Réserver</button>
</form>
