<div class="searchFormDiv">
  <div>
    <h1>Rechercher un vol</h1>
    <form [formGroup]="searchForm" class="reservation-form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Choisis une date</mat-label>
        <input matInput formControlName="date" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div style="margin-bottom: 10px; margin-top: -20px">
        <div *ngIf="searchForm.get('arrived').touched && searchForm.get('departure').touched
                    && searchForm.get('departure').value === searchForm.get('arrived').value
                    && (!!searchForm.get('departure').value && !!searchForm.get('arrived').value)">
          <span class='errorMessage' style="margin-bottom: 100px; color:red">Veuillez choisir deux aéroports différents</span>
        </div>
        <div *ngIf="((searchForm.get('arrived').touched && searchForm.get('arrived').value)
                      && !searchForm.get('departure').touched)
                      || ((searchForm.get('departure').touched && searchForm.get('departure').value)
                      && !searchForm.get('arrived').touched)">
          <span class='errorMessage' style="margin-bottom: 100px; color:red">Veuillez choisir un départ et une arrivée</span>
        </div>
        <div *ngIf="this.dateError">
          <span class='errorMessage' style="margin-bottom: 100px; color:red">Le voyage dans le passé n'est pas autorisé</span>
        </div>
        <button
          mat-button
          color="primary"
          type="submit"
          [disabled]="!searchForm.valid"
          class="button"
        >
          Rechercher
        </button>
      </div>
    </form>
  </div>
  <div class="booking-validation">
    <div *ngIf="isBooking">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="!isBooking && isBooked">
      Ticket booked
      <span class="material-icons"> check_circle </span>
    </div>
    <div *ngIf="!isBooking && bookedFailed">
      Something went wrong
      <span class="material-icons"> error </span>
    </div>
  </div>
</div>
